/* Remove any default margin or padding */
body,
html {
  margin: 0;
  padding: 0;
}

/* Remove horizontal scrollbar */
body {
  overflow-x: hidden;
}

/* Navbar styles */
.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background for readability */
}

/* Homepage carousel adjustments */
.carousel-item {
  height: 100vh; /* Full viewport height */
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: center center no-repeat;
  background-size: cover;
}

/* Make images fully responsive and prevent horizontal scroll */
.carousel-item img {
  width: 100%; /* Use 100% width to prevent overflow */
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Ensures the image scales and covers the full area */
}

.carousel-caption {
  padding-bottom: 5rem;
}

/* GALLERIE PAGE */
.banner {
  background-position: center center; /* Centers the image */
  background-size: cover; /* Ensures the image fills the banner */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  height: 70vh; /* Adjusts banner height */
}

.project-card {
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  /* Disable transform on hover for smaller screens */
}
.project-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .project-card {
    /* Applies only to devices larger than 768px */
  }
  .project-card:hover {
    transform: translateY(-1px); /* Slightly lift the image on desktop */
  }
}
