{% extends 'base.html' %} {% block content %}

<!-- Banner -->
<section
  id="banner"
  class="banner"
  style="background-image: url('{{ banner_url }}');"
></section>

<!-- Projects -->
<section id="projects" class="projects my-5">
  <div class="container">
    <h1 class="text-center text-uppercase">Journeys Through My Lens</h1>
    <p class="text-justify my-2">
      Welcome to my projects gallery, where each collection is more than just a
      set of photos; it’s a story. Every image here is a piece of a journey, an
      invitation to explore a world filled with wild landscapes, quiet moments,
      and natural beauty. From mist-laden Swiss mountains to the vibrant autumn
      forests, and the sunlit shores of distant lakes, each project captures a
      unique experience, a slice of nature seen through my eyes.
    </p>
    <p class="text-justify mb-5">
      Click on any collection below to dive deeper into these scenes, where I
      share not only what I saw, but what I felt. This is my way of bringing a
      little piece of these places to you, hoping they’ll inspire the same awe
      and connection with nature that I felt while capturing them.
    </p>

    <div class="row">
      <!-- Row 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a class="nav-link" href="{{ url_for('mountains_summer') }}">
          <img
            src="{{ project_urls[6] }}"
            class="img-fluid project-card"
            alt="Swiss Alps in Summer"
          />
        </a>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a class="nav-link" href="{{ url_for('mountains_autumn') }}">
          <img
            src="{{ project_urls[3] }}"
            class="img-fluid project-card"
            alt="Swiss Alps in Autumn"
          />
        </a>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a class="nav-link" href="{{ url_for('mountains_winter') }}">
          <img
            src="{{ project_urls[7] }}"
            class="img-fluid project-card"
            alt="Swiss Alps in Winter"
          />
        </a>
      </div>

      <!-- Row 2 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a class="nav-link" href="{{ url_for('lake_leman') }}">
          <img
            src="{{ project_urls[2] }}"
            class="img-fluid project-card"
            alt="Lake Léman Switzerland, Swiss Riviera"
          />
        </a>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a class="nav-link" href="{{ url_for('sahara_sands') }}">
          <img
            src="{{ project_urls[4] }}"
            class="img-fluid project-card"
            alt="Sahara Sand in Switzerland, Lake Léman"
          />
        </a>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a class="nav-link" href="{{ url_for('mushrooms') }}">
          <img
            src="{{ project_urls[5] }}"
            class="img-fluid project-card"
            alt="Mushrooms in Swiss Forest"
          />
        </a>
      </div>

      <!-- Row 3 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <a class="nav-link" href="{{ url_for('greece') }}">
          <img
            src="{{ project_urls[8] }}"
            class="img-fluid project-card"
            alt="Greece - Athens, Kalamata, Olympia"
          />
        </a>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a class="nav-link" href="{{ url_for('dubrovnik_croatia') }}">
          <img
            src="{{ project_urls[1] }}"
            class="img-fluid project-card"
            alt="City of Dubrovnik Croatia"
          />
        </a>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <a
          class="nav-link"
          href="{{ url_for('plitvice_national_park_croatia') }}"
        >
          <img
            src="{{ project_urls[0] }}"
            class="img-fluid project-card"
            alt="Plitvice National Park Croatia"
          />
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
